<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Anant Mathur">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>MSI-T Unfiltered</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <% include ../includes/navbar.ejs %>
    <!-- MainMenu-Area-End -->

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="white-color">Out Latest Blog</h1>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <article class="post-single sticky">
                        <figure class="post-media">
                            <img src="images/sticky-image.jpg" alt="">
                        </figure>
                        <div class="post-body">
                            <div class="post-meta">
                                <div class="post-tags"><a href="#">People</a></div>
                                <div class="post-date">01.02.2017</div>
                            </div>
                            <h4 class="dark-color"><a href="single.html">5 tips for those, who need to make more room in their closet</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiing elit, sed do eiusmod tempor incididunt ut labore et laborused sed do eiusmod tempor incididunt ut labore et laborused.</p>
                            <a href="single.html" class="read-more">View Article</a>
                        </div>
                    </article>
                    <div class="space-100"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="post-single">
                        <figure class="post-media">
                            <img src="images/blog-1.jpg" alt="">
                        </figure>
                        <div class="post-body">
                            <div class="post-meta">
                                <div class="post-tags"><a href="#">People</a></div>
                                <div class="post-date">01.02.2017</div>
                            </div>
                            <h4 class="dark-color"><a href="single.html">IOS 10: 8 Things we want froma pple iPhone8S</a></h4>
                            <a href="single.html" class="read-more">View Article</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="post-single">
                        <figure class="post-media">
                            <img src="images/blog-2.jpg" alt="">
                        </figure>
                        <div class="post-body">
                            <div class="post-meta">
                                <div class="post-tags"><a href="#">People</a></div>
                                <div class="post-date">01.02.2017</div>
                            </div>
                            <h4 class="dark-color"><a href="single.html">Top destinations to escape from reality</a></h4>
                            <a href="single.html" class="read-more">View Article</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="post-single">
                        <figure class="post-media">
                            <img src="images/blog-3.jpg" alt="">
                        </figure>
                        <div class="post-body">
                            <div class="post-meta">
                                <div class="post-tags"><a href="#">People</a></div>
                                <div class="post-date">01.02.2017</div>
                            </div>
                            <h4 class="dark-color"><a href="single.html">Five ways to wear a shirt by Victoria Beckha</a></h4>
                            <a href="single.html" class="read-more">View Article</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="post-single">
                        <figure class="post-media">
                            <img src="images/blog-4.jpg" alt="">
                        </figure>
                        <div class="post-body">
                            <div class="post-meta">
                                <div class="post-tags"><a href="#">People</a></div>
                                <div class="post-date">01.02.2017</div>
                            </div>
                            <h4 class="dark-color"><a href="single.html">Use this exercise to solve any Product Design Challenge</a></h4>
                            <a href="single.html" class="read-more">View Article</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="post-single">
                        <figure class="post-media">
                            <img src="images/blog-5.jpg" alt="">
                        </figure>
                        <div class="post-body">
                            <div class="post-meta">
                                <div class="post-tags"><a href="#">People</a></div>
                                <div class="post-date">01.02.2017</div>
                            </div>
                            <h4 class="dark-color"><a href="single.html">20 non-political reasons why Brexit is shit</a></h4>
                            <a href="single.html" class="read-more">View Article</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="post-single">
                        <figure class="post-media">
                            <img src="images/blog-6.jpg" alt="">
                        </figure>
                        <div class="post-body">
                            <div class="post-meta">
                                <div class="post-tags"><a href="#">People</a></div>
                                <div class="post-date">01.02.2017</div>
                            </div>
                            <h4 class="dark-color"><a href="single.html">Athleisure: What do Swedish people wear?</a></h4>
                            <a href="single.html" class="read-more">View Article</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pagination">
                        <div class="nav-links">
                            <a href="#" class="prev page-numbers"><i class="lnr lnr-chevron-left"></i></a>
                            <a href="#" class="page-numbers">1</a>
                            <span class="page-numbers current">2</span>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="page-numbers">4</a>
                            <a href="#" class="page-numbers">5</a>
                            <a href="#" class="page-numbers">6</a>
                            <a href="#" class="next page-numbers"><i class="lnr lnr-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
            <% include ../includes/footer.ejs %>
    </footer>

    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/jquery-ui.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/ajaxchimp.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>
</body>

</html>
