<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Anant Mathur">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Events | MSI-T Unfiltered</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <% include ../includes/navbar.ejs %>
    <!-- MainMenu-Area-End -->

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="white-color">Latest College Events</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="section-padding">
        <div style="width: 1400px;" class="container">
            <div class="row">
                <div class="jumbotron">
                  <h1 class="display-4">GENESIS</h1>
                  <p class="lead">After all the stress of externals , holidays and new year’s, we were back to the college with a bang! Genesis, held on 6th and 7th of January 2020, was a hell lot of fun! With so many events lined up, Battle Of Bands, Stand-up Comedy, Street Dance, Mr. & Miss Genesis, to name a few, the event blew away the minds of the audience.</p>
                  <hr class="my-4">
                  <div class="container tz-gallery">
                      <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/genesis/1.jpg">
                                <img src="./images/events/genesis/1.jpg" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/genesis/2.jpg">
                                <img src="./images/events/genesis/2.jpg" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/genesis/3.jpg">
                                <img src="./images/events/genesis/3.jpg" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/genesis/4.jpg">
                                <img src="./images/events/genesis/4.jpg" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/genesis/5.jpg">
                                <img src="./images/events/genesis/5.jpg" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/genesis/6.jpg">
                                <img src="./images/events/genesis/6.jpg" style="height: 280px;">
                            </a>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="jumbotron">
                  <h1 class="display-4">ENVA</h1>
                  <p class="lead">Prakriti - the Humanitarian and Environmental Society of MSIT organised its annual fest ENVA, the grand and the most awaited college fest. The two-day extravaganza held on 8th and 9th January 2020. With a vibrant line-up of cultural events and competitions, ENVA’20 was a crowd-pulling event which witnessed a footfall of more than 4000 students.</p>
                  <hr class="my-4">
                  <div class="container tz-gallery">
                      <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/enva/1.JPG">
                                <img src="./images/events/enva/1.JPG" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/enva/2.JPG">
                                <img src="./images/events/enva/2.JPG" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/enva/3.JPG">
                                <img src="./images/events/enva/3.JPG" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/enva/4.JPG">
                                <img src="./images/events/enva/4.JPG" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/enva/5.JPG">
                                <img src="./images/events/enva/5.JPG" style="height: 280px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="./images/events/enva/6.JPG">
                                <img src="./images/events/enva/6.JPG" style="height: 280px;">
                            </a>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="jumbotron">
                      <h1 class="display-4">AVENSIS</h1>
                      <p class="lead">To give all MSIians and MSITians this euphoria, Maharaja Surajmal Institute of Technology, successfully organised its annual technical fest- Avensis 2020 on January 8th and 9th. The event was a remarkable success and witnessed a footfall of more than 1500 students from various reputed colleges.</p>
                      <hr class="my-4">
                      <div class="container tz-gallery">
                          <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="./images/events/avensis/1.jpg">
                                    <img src="./images/events/avensis/1.jpg" style="height: 280px;">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="./images/events/avensis/2.jpg">
                                    <img src="./images/events/avensis/2.jpg" style="height: 280px;">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="./images/events/avensis/3.jpg">
                                    <img src="./images/events/avensis/3.jpg" style="height: 280px;">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="./images/events/avensis/4.jpg">
                                    <img src="./images/events/avensis/4.jpg" style="height: 280px;">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="./images/events/avensis/5.jpg">
                                    <img src="./images/events/avensis/5.jpg" style="height: 280px;">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="./images/events/avensis/6.jpg">
                                    <img src="./images/events/avensis/6.jpg" style="height: 280px;">
                                </a>
                            </div>
                          </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>

    <footer>
            <% include ../includes/footer.ejs %>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/jquery-ui.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/ajaxchimp.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>
</body>

</html>
