<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160165162-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160165162-2');
    </script>

    <meta charset="utf-8">
    <meta name="author" content="Anant Mathur">
    <meta name="description" content="MSI-T Unfiltered | A place where MSI and MSIT comes together for a worthy experience.
     There is no attendance issue here!">
    <meta name="keywords" content="MSIT, inception, wave, MSI, surajmal, maharaja surajmal">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>MSI-T Unfiltered</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>

        <!--SideBar-->
        <div class="icon-bar">
            <a href="https://www.instagram.com/inceptionwavemsi_msit/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="https://api.whatsapp.com/send?phone=919711093860&text=Hello%20dear%20how%20are%20you"
            class="whatsapp"><i class="fab fa-whatsapp"></i></a>
       </div>
        <!--SideBar End-->

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>

    <% include ../includes/navbar.ejs %>
    <!-- MainMenu-Area-End -->

    <!-- Home-Area -->
    <header class="home-area overlay" id="home_page" style="height: 110%;width: 100%;background-repeat: none;">
            <div class="container">
               <h1 style="text-align: center;">MSI-T Unfiltered</h1>
               <h4 style="text-align: center;">We, MSI-T UNFILTERED, serve you the latest buzz of what's happening in and around the college.  <br>
                    ✨Uniting MSI & MSIT folks being our first agenda.✨</h4><br>
                    <br>
                    <div class="row">
                            <div class="col-xs-12">
                                <div class="team-slide">
                                    <div class="team-box">
                                        <div class="team-image">
                                            <img src="images/home/explore_campus.jpeg" style="height: 100%;" alt="">
                                        </div>
                                        <h4 style="color: black"><a href="/campus">Explore the Campus</a></h4>
                                        <p>Do you think you know all about the campus? If not, have a look!</p>
                                    </div>
                                    <div class="team-box">
                                        <div class="team-image">
                                            <img src="images/home/events.jpeg" style="height: 100%;" alt="">
                                        </div>
                                        <h4 style="color: black"><a href="/events">Events</a></h4>
                                        <p>Treasure hunts, donation drives, to name a few, we organise amazing events as well. Don’t miss out on it!</p>
                                    </div>
                                    <div class="team-box">
                                        <div class="team-image">
                                            <img src="images/home/societies.jpeg" style="height: 100%;" alt="">
                                        </div>
                                        <h4 style="color: black"><a href="/updates">College Societies</a></h4>
                                        <p>We have all the news about events and updates from all the college societies!</p>
                                    </div>
                                    <div class="team-box">
                                        <div class="team-image">
                                            <img src="images/home/blogs.jpeg" style="height: 100%;" alt="">
                                        </div>
                                        <h4 style="color: black"><a href="/blogs">Blog</a></h4>
                                        <p>Read the latest blogs from MSI-T Unfiltered</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
        </header>
        <!-- Home-Area-End -->

        <!-- Button to Open the Modal for mobile devices-->
        <div class="mymodal">
            <div class="mymodalpc">
                    <button type="button" class="btn btn-primary modalbutton" data-toggle="modal" data-target="#myModal" >
                            ...
                        </button>
            </div>
        </div>

            <!-- The Modal -->
            <div class="modal" id="myModal" >
                <div class="modal-dialog">
                <br><br><br>
                <div class="modal-content" style="background-color: transparent">
                        <a href="https://www.instagram.com/inceptionwavemsi_msit/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com" target="_blank" class="linkedin"><i class="fab fa-linkedin"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=919711093860&text=Hello%20dear%20how%20are%20you"
                            class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                </div>
                </div>
            </div>

      <!-- End Modal -->

    <!-- About-Area -->
    <section class="section-padding" id="about_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="page-title text-center">
                        <img src="images/logo.png" alt="About Logo" style= "height: 6rem;">
                        <div class="space-20"></div>
                        <h5 class="title">About Unfiltered</h5>
                        <div class="space-30"></div>
                        <h3 class="blue-color">We aim at creating awareness so that everyone can make the best out of their college life; because college is all about exploring and experiencing!</h3>
                        <div class="space-20"></div>
                        <p> We share with you all the opportunities that you surely cannot miss being in Surajmal! </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-Area-End -->

    <!-- Feature-Area -->
    <section class="feature-area section-padding-top" id="features_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title text-center">
                        <h5 class="title">What We Do</h5>
                        <div class="space-10"></div>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="lnr lnr-rocket"></i>
                        </div>
                        <h4>UPDATES</h4>
                        <p>The place where you can find anything to everything you need to know about the happenings in the campus. Events, datesheets, results, all of them! </p>
                    </div>
                    <div class="space-60"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="lnr lnr-clock"></i>
                        </div>
                        <h4>RELATABLE CONTENT</h4>
                        <p>From memes, to hangout spots and bunking corners, get them all here. We being peers, know what you go through and will help you go through it like a boss!</p>
                    </div>
                    <div class="space-60"></div>
                </div>
                <div class="hidden-xs hidden-sm col-md-4">
                    <figure class="mobile-image">
                        <img src="images/feature-image.png" alt="Feature Photo">
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box-icon">
                            <i class="lnr lnr-paperclip"></i>
                        </div>
                        <h4>EVENTS</h4>
                        <p>Treasure hunts, donation drives, to name a few, we organise amazing events as well. Don’t miss out on it!</p>
                    </div>
                    <div class="space-60"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box-icon">
                            <i class="lnr lnr-laptop-phone"></i>
                        </div>
                        <h4>RAW</h4>
                        <p>We provide the original content in the raw state. No adulteration, completely UNFILTERED. You can trust us on that!</p>
                    </div>
                    <div class="space-60"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature-Area-End -->

    <!--Instagram Feed-->
    <h2 class="text-center">Our Instagram Feed</h2>
        <script src="https://www.powr.io/powr.js?platform=html"></script>
        <div class="powr-instagram-feed" id="a243f469_1570851733"></div>
    <!--Instagram feed end-->



    <!-- About-Developer -->
        <div class="subscribe-area section-padding" id="intouch"  style="background: #5e88fc;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="subscribe-form text-center">
                            <h3 class="blue-color">Developer</h3>
                            <div class="space-20"></div>
                            <img src="/images/developer.jpeg" alt="dev_img" style="border-radius: 100%; height:22rem">
                            <h4 class="text-dark">Anant Mathur</h4>
                            <p>MSIT - CSE (2018-2022)</p>
                            <p>Click <a href="https://api.whatsapp.com/send?phone=919711093860&text=Hello%20Anant%20%3C3" style="color:blue;">here</a>  to open Whatsapp chat </p>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    <!--About-Developer-End-->

    </body>

    <footer>
        <% include ../includes/footer.ejs %>
    </footer>
    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/jquery-ui.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/ajaxchimp.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>

    <script>
      document.getElementById('Form').addEventListener('submit', e => {
        e.preventDefault();
        const name = document.querySelector('#name').value;
        const phone = document.querySelector('#phone').value;
        const message = document.querySelector('#message').value;
        const captcha = document.querySelector('#g-recaptcha-response').value;
        return fetch('/submitquery', {
          method: 'POST',
          headers: { 'Content-type': 'application/json' },
          body: JSON.stringify({ name, phone, message, captcha })
        })
          .then(res => res.json())
          .then(data => {
            alert(data.msg);
            if (data.success) {
                location.reload();
            } 
          });
      });
    </script>


</html>
