<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Anant Mathur">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Single Blog | MSI-T Unfiltered</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <% include ../includes/navbar.ejs %>
    <!-- MainMenu-Area-End -->

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="white-color">Our Latest Blog</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <article class="post-single">
                              
                    <div class="post-body">
                            <% Blogs.forEach( function (blog) { %>
                      
                            <figure class="post-media">
                                <img src= "/blogs/photo/<%= blog.id %>" alt="blog_img" style="height:50rem; width: 70rem">
                            </figure>
            
                            <h2 class="dark-color"><%=blog.title %></h2>
                            <div class="space-20"></div>
                            <div class="space-50"></div>
                            <p><%= blog.body %></p>
                                    <% }); %>
                        </div>
                    </article>
                    <div class="space-100"></div>
                    <div id="comments" class="comments-area">
                        <h3 class="comment-heading">2 Comments</h3>
                        <ul class="comments-list">
                            <li>
                                <article class="comment">
                                    <figure class="comment-pic">
                                        <img alt="" src="images/comment-image.jpeg">
                                    </figure>
                                    <div class="comment-content">
                                        <div class="comment-header">
                                            <h4>Ashekur Rahman</h4>
                                            <p class="comment-date">Posted on September 3, 2012 at 10:18 am </p>
                                        </div>
                                        <p>Do sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni est, qui d tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                        <ul class="breadcrumb">
                                            <li><a href="#">Reply</a></li>
                                            <li><a href="#">Share</a></li>
                                        </ul>
                                    </div>
                                </article>
                                <ul>
                                    <li>
                                        <article class="comment">
                                            <figure class="comment-pic">
                                                <img alt="" src="images/comment-image.jpeg">
                                            </figure>
                                            <div class="comment-content">
                                                <div class="comment-header">
                                                    <h4>Ashekur Rahman</h4>
                                                    <p class="comment-date">Posted on September 3, 2012 at 10:18 am </p>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos pariatur fuga ullam placeat corrupti inventore.</p>
                                                <ul class="breadcrumb">
                                                    <li><a href="#">Reply</a></li>
                                                    <li><a href="#">Share</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <article class="comment">
                                    <figure class="comment-pic">
                                        <img alt="" src="images/comment-image.jpeg">
                                    </figure>
                                    <div class="comment-content">
                                        <div class="comment-header">
                                            <h4>Ashekur Rahman</h4>
                                            <p class="comment-date">Posted on September 3, 2012 at 10:18 am </p>
                                        </div>
                                        <p>Do sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni est, qui d tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                        <ul class="breadcrumb">
                                            <li><a href="#">Reply</a></li>
                                            <li><a href="#">Share</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </li>
                        </ul>
                        <div class="comment-respond">
                            <h4>Post your comments</h4>
                            <form action="#" class="comment-form">
                                <div class="form-double">
                                    <div class="box">
                                        <input type="text" class="form-control" placeholder="your Name">
                                        <div class="space-30"></div>
                                    </div>
                                    <div class="box last">
                                        <input type="email" class="form-control" placeholder="Your Email">
                                        <div class="space-30"></div>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Website URL">
                                <div class="space-30"></div>
                                <textarea name="comment" id="comment" rows="5" class="form-control" placeholder="Type Your Mesage..."></textarea>
                                <div class="space-30"></div>
                                <button type="submit" class="bttn-default">Post Comments</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
            <% include ../includes/footer.ejs %>
    </footer>

    <!--Vendor-JS-->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/jquery-ui.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/contact-form.js"></script>
    <script src="/js/ajaxchimp.js"></script>
    <script src="/js/scrollUp.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="/js/main.js"></script>
</body>

</html>