<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Societies | MSI-T Unfiltered</title>
</head>
<body>
   <h1>Society Page</h1> 
</body>
</html>