<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Anant Mathur">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Team | MSI-T Unfiltered</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <% include ../includes/navbar.ejs %>
    <!-- MainMenu-Area-End -->

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="white-color">Meet Our Team</h1>
                </div>
            </div>
        </div>
    </header>
    <br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 style="color: black; font-weight: bold" class="text-center">Heads</h3>
                <p>They are the fundamental cause of this organisation. 
                    Without their dedication and support, we wouldn't have been where we are. </p>
                <img src="https://us.123rf.com/450wm/rawpixel/rawpixel1504/rawpixel150401003/38522514-diversity-casual-teenager-team-success-winning-concept.jpg?ver=6" alt="head_img"/>
                <p><strong style="color: black;">Head - </strong>Prerna Mehta</p>
                <p><strong style="color: black;">Co-Head - </strong>Tanishq Rana</p>
            </div>
        </div>
    </div>
    <br><br/>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 style="color: black; font-weight: bold" class="text-center">Core Team</h3>
                <p>The managers of the team who make sure that the work is done effectively and efficiently. 
                    Bringing people together to create THE CONTENT for you.</p>
                <img src="https://us.123rf.com/450wm/rawpixel/rawpixel1504/rawpixel150401003/38522514-diversity-casual-teenager-team-success-winning-concept.jpg?ver=6" alt="head_img"/>
                <p><strong style="color: black;">Technical - </strong>Anant Mathur</p>
                <p><strong style="color: black;">Designing - </strong>Namam Lamba, Puneet Thapliyal</p>
                <p><strong style="color: black;">Social Media - </strong>Suhani Sahrawat, Simran Tuli</p>
                <p><strong style="color: black;">Marketing and PR - </strong>Akshat Jain, Sarvagya Kapur</p>
                <p><strong style="color: black;">Events  - </strong>Soumya Chaudhary, Jhanvi Batra</p>
                <p><strong style="color: black;">Sponsorship - </strong>Paras Laul, Rushil Arora</p>
                <p><strong style="color: black;">Memesters - </strong>Akshansh Singh Chaudhary</p>
                <p><strong style="color: black;">Photography  - </strong>Vashu Chaudhary</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 style="color: black; font-weight: bold" class="text-center">Team members</h3>
                <p>The ones who make it easier to get the work done timely and successfully. 
                    The pillars of the organisation.  </p>
                <img src="https://us.123rf.com/450wm/rawpixel/rawpixel1504/rawpixel150401003/38522514-diversity-casual-teenager-team-success-winning-concept.jpg?ver=6" alt="head_img"/>
                <br><br>
            </div>
        </div>
    </div>


    <footer>
            <% include ../includes/footer.ejs %>
    </footer>

    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/jquery-ui.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/ajaxchimp.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>
</body>

</html>
